
    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	<label class='preg'><%= quiz.pregunta %></label>
    	<p><input type="text" name="respuesta" value="responda aquí"></p>
    	<input type="submit" value="Confirmar">

    </form>
